In [1]:
import mysql.connector
import pandas as pd

In [2]:
database = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="master_python"
)

In [3]:
cursor = database.cursor()

In [4]:
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('information_schema',)
('master_python',)
('mysql',)
('performance_schema',)
('sys',)

In [5]:
#crear tablas
cursor.execute("""
CREATE TABLE IF NOT EXISTS vehiculos_notebook(
    id int(10) auto_increment not null,
    marca varchar(40) not null,
    modelo varchar(40) not null,
    precio float(10, 2) not null,
    CONSTRAINT pk_vehiculo PRIMARY KEY(id)
)"""
)

In [6]:
cursor.execute("SHOW TABLES")

for table in cursor:
    print(table)

('pupils',)
('vehiculos',)
('vehiculos_notebook',)

In [7]:
cursor.execute("INSERT INTO vehiculos_notebook VALUES (null, 'Opel', 'Astra', 18500)")
database.commit()

In [8]:
Autos = [
    ('Seat', 'Ibiza', 5000),
    ('Mercedez', 'A2', 50000),
    ('Hyundai', 'Accent', 15000),
    ('Toyota', 'Hilux', 35000),
    ('Chery', 'Tiggo', 15000)
]

cursor.executemany("INSERT INTO vehiculos_notebook VALUES (null, %s, %s, %s)", Autos)
database.commit()

#### Insertar datos a la base de datos desde un csv

In [9]:
df = pd.read_csv('./pupils.csv')
df.head()

  givenName  surname   birthdate
0     Gavin     Tyra  2012-11-25
1   Zachary    Danso  2009-08-17
2     Ethan    Balls  2014-07-06
3    Justin     Otis  2012-12-25
4   Mitchel  Elliott  2010-01-03

In [10]:
#crear tablas
cursor.execute("""
CREATE TABLE IF NOT EXISTS pupils(
    id int(10) auto_increment not null,
    Nombre varchar(40) not null,
    Apellido varchar(40) not null,
    Fecha_Nacimiento DATE DEFAULT NULL,
    CONSTRAINT pk_pupils PRIMARY KEY(id)
)"""
)

In [11]:
data = [tuple(x) for x in df.to_numpy()]

In [12]:

load = "INSERT INTO pupils (Nombre, Apellido, Fecha_Nacimiento) VALUES (%s, %s, %s)"

cursor.executemany(load, data)
database.commit()